{% extends 'accounts/base.html' %}

{% block title %}Accounts{% endblock %}

{% block content %}
    <div class="accounts">
        {% for account in accounts_list %}
            <div class="account">
                <p class="name">{{ account.name }}</p>
                <p class="email">{{ account.email }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}