{% extends 'accounts/base.html' %}

{% block title %}Create Account{% endblock %}

{% block content %}
    <form method="POST" class="account-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save">Create!</button>
    </form>
{% endblock %}