{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}">

    {% block extra_css %}{% endblock %}
    {% block extra_js %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>