{% extends 'accounts/base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <div class="navigation">
        <a href="{% url 'accounts:list' %}">Accounts List</a>
        <a href="{% url 'accounts:new' %}">Create new account.</a>
    </div>
{% endblock %}